numpy~=2.3.0rc1
scipy~=1.16.0rc1
Pillow~=11.2.1
torch~=2.7.1
torchvision~=0.22.1
matplotlib~=3.10.1
tqdm~=4.67.1
opencv-python~=4.11.0.86
scikit-learn~=1.7.0
colorama~=0.4.6
pykeops~=2.3
pyyaml~=6.0.2
